/* stylelint-disable */

@mixin burger {
    --burger-width: 20px;
    --burger-height: 20px;
    --burger-line-width: 15px;
    --burger-line-height: 2px;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--icon-primary);
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: var(--burger-line-width);
        height: var(--burger-line-height);
        border-radius: var(--burger-line-height);
        background-color: currentColor;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
        top: 7px;
    }

    &::after {
        top: 13px;
    }

    &__active {
        &::before {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
