<section class="employees" aria-labelledby="employees-title">
  <div class="employees__panel">
    <div class="container">
      <div class="employees__layout">
        <div class="employees__quote">
          <h2 id="employees-title">Наши&nbsp;сотрудники знают всё&nbsp;о&nbsp;технологиях платежей</h2>
          <blockquote>5 лет назад, говоря о том, что нас ждут новые вызовы и ответы на них, мы не могли предположить какого масштаба они будут характера</blockquote>
          <footer><img src="img/employees/director-img.png" width="72" height="72" alt="Клочков Михаил"><div><strong>Клочков Михаил</strong><span>Директор по развитию</span></div></footer>
        </div>
        <img class="employees__image" src="img/employees/employees-img.png" width="584" height="426" alt="Команда Платёжки в офисе">
      </div>
    </div>
  </div>
</section>
