<section class="infrastructure" aria-labelledby="infrastructure-title">
  <div class="container">
    <header class="infrastructure__header">
      <h2 id="infrastructure-title">Платежная инфраструктура&nbsp;нашего сервиса</h2>
      <p>Договорённости с 18 экспортёрами РФ о валютной выручке</p>
      <div class="infrastructure__specializations">
        <span>Ключевые специализации:</span>
        <strong><img src="img/destinations/flags-1.png" width="40" height="40" alt="">Китай</strong>
        <strong><img src="img/destinations/flags-2.png" width="40" height="40" alt="">Европа</strong>
      </div>
    </header>
    <ul class="infrastructure__facts list-reset" aria-label="Инфраструктура в цифрах">
      <li class="infrastructure__fact"><strong>21</strong><span>сотрудник в&nbsp;московском офисе</span></li>
      <li class="infrastructure__fact"><strong>10</strong><span>офисы и компании в 10 странах</span></li>
      <li class="infrastructure__fact"><strong>12</strong><span>сотрудников за&nbsp;рубежом</span></li>
    </ul>
    <div class="infrastructure__network">
      <img src="img/destinations/globe-main.png" width="1014" height="447" alt="Карта международной инфраструктуры">
      <ul class="infrastructure__entities list-reset" aria-label="Страны присутствия">
        <li class="infrastructure__entity"><img src="img/destinations/flags-3.png" alt="" width="40" height="40"><span>Эстония<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-4.png" alt="" width="40" height="40"><span>Индонезия<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-5.png" alt="" width="40" height="40"><span>Россия<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity infrastructure__entity--active"><img src="img/destinations/flags-1.png" alt="" width="40" height="40"><span>Китай<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-6.png" alt="" width="40" height="40"><span>США<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-7.png" alt="" width="40" height="40"><span>Чехия<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-8.png" alt="" width="40" height="40"><span>Германия<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-9.png" alt="" width="40" height="40"><span>Таиланд<small>Юрлицо, до 2025 г.</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-10.png" alt="" width="40" height="40"><span>Турция<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-11.png" alt="" width="40" height="40"><span>ОАЭ<small>Юрлицо</small></span></li>
        <li class="infrastructure__entity"><img src="img/destinations/flags-12.png" alt="" width="40" height="40"><span>Казахстан<small>Юрлицо</small></span></li>
      </ul>
    </div>
  </div>
</section>
